.one{display: block;
    margin: auto;
    
}
.two{
    background-color: rgb(147, 185, 185);
}
.three{text-align: center;
font-style: oblique;
}
.four{
    text-align: center;
    font-size: x-large;
    font-style: oblique;
}
.four a{color: rgb(131, 0, 0);
    text-decoration-line: underline;
}