
.banner{ 
    
    background-color: rgb(62, 100, 136);
text-align: center;

}
.banner h1 a{color: rgb(255, 255, 255);
text-decoration-line: underline
;
font-style: oblique;
}
.one{
    width: 1290; height: 200;

}




