.three{
  color: beige;
  display: flex;
}
.o{ 
    text-align: center;
   color: rgb(255, 251, 251);
   text-decoration-line: underline;

}
.c{ background-color: rgb(62, 109, 87);
    
}
.p{ text-align: center;
color: azure;

}
.oo{
  text-align: center;
}
